<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Demo Page</title>
    <script src="./static/tailwind.js"></script>
    <script src="./static/vue.global.js"></script>
</head>

<body class="dark:bg-gray-900">
    <div id="app" class="flex p-5 md:p-0">
        <div class="mx-auto p-6 max-w-[80vw]">
            <br><br>
            <h1 class="mb-4 text-4xl font-bold text-gray-900 dark:text-white" style="text-align: center;">Emilia Demo Page</h1>


            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Evaluations
            </h5>
            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400">

                ABCxxx
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Here are the results of objective and
                subjective evaluation (Mean Opinion Score, MOS). </p>

            <div class="mb-4 relative overflow-x-auto">
                <div class="relative w-fit text-sm text-left rtl:text-right text-gray-900 dark:text-gray-200">
                    <div class="flex w-full text-center text-gray-900 bg-gray-50 dark:bg-gray-700 dark:text-gray-300">
                        <div v-for="(item, index) in ['System', 'Objective evaluation', 'Subjective evaluation']"
                            scope="col"
                            :class="(index === 0 ? 'w-[300px]' : index === 1 ? 'w-[810px]' : 'w-[200px]') + ' shrink-0 px-6 pt-4 font-medium'">
                            {{ item }}
                        </div>
                    </div>
                    <div class="flex w-full text-center text-gray-900 bg-gray-50 dark:bg-gray-700 dark:text-gray-300">
                        <div v-for="(item, index) in ['', 'CER ↓', 'WER ↓', 'FAD ↓', 'Speaker Similarity ↑', 'MOS ↑']"
                            scope="col"
                            :class="(index === 0 ? 'w-[300px]' : 'w-[200px]') + ' shrink-0 px-6 py-4 font-medium'">
                            {{ item }}
                        </div>
                    </div>
                    <div v-for="(item, index) in table">
                        <div
                            class="flex w-full text-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <div v-for="(value, index) in item"
                                :class="(index === 0? 'w-[300px]':'w-[200px]') + ' px-4 py-2'">
                                {{ value }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Samples
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Here are some TTS samples.
            </p>

            <div class="relative overflow-x-auto">
                <div class="relative w-fit text-sm text-left rtl:text-right text-gray-900 dark:text-gray-100">

                    <div class="flex w-fit text-center bg-gray-50 dark:bg-gray-700">
                        <div v-for="item in models" scope="col" class="w-[330px] shrink-0 px-6 py-4 font-medium">
                            {{ item.name }}
                        </div>
                    </div>

                    <div v-for="(item, index) in texts">
                        <div
                            class="flex w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <div class="px-6 py-4 font-medium dark:text-white">
                                <b>Text:</b> {{ item.name }}
                            </div>
                        </div>
                        <div
                            class="flex bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <div v-for="model in models" class="w-[330px] px-4 py-2">
                                <audio controls>
                                    <source :src="model.path + item.path">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        const app = Vue.createApp({
            setup() {
                const table = [
                    ['Amphion (VITS)', '0.06', '0.10', '0.84', '0.97', '3.61 ± 0.1'],
                    // ['Amphion VITS (300k)', '0.08', '0.14', '1.84', '0.97'],
                    ['Coqui/TTS (VITS)', '0.06', '0.12', '0.54', '0.98', '3.69 ± 0.1'],
                    ['SpeechBrain （Fastspeech2）', '0.06', '0.11', '1.71', '0.94', '3.54 ± 0.11'],
                    ['Tortoise-tts (Diffusion-based model)', '0.05', '0.09', '1.90', '0.55', '3.61 ± 0.11'],
                    ['ESPNet  (VITS)', '0.07', '0.11', '1.28', '0.99', '3.57 ± 0.11'],
                ]

                const models = [
                    {
                        name: 'Amphion (VITS)',
                        path: './data/Amphion_VITS_600k'
                    },
                    // {
                    //     name: 'Amphion VITS (300k)',
                    //     path: '/data/Amphion_VITS_300k'
                    // },
                    {
                        name: 'Coqui/TTS (VITS)',
                        path: './data/coqui_audio'
                    },
                    {
                        name: 'Tortoise-tts (Diffusion-based model)',
                        path: './data/tortoise_audio'
                    },
                    {
                        name: 'ESPNet  (VITS)',
                        path: './data/ESPNet_VITS'
                    },
                    {
                        name: 'SpeechBrain (Fastspeech2)',
                        path: './data/Speechbrain_Fastspeech2'
                    },
                ]
                const texts = [
                    {
                        name: "Does a tiny particle of the consecrated bread contain all the body and blood of Jesus Christ or a part only of the body and blood?",
                        path: "/0.wav"
                    }
                ]
                return {
                    table,
                    models,
                    texts
                }
            }
        })

        app.mount('#app')
    </script>
</body>

</html>
